In [2]:
import pandas as pd

In [3]:
tables = pd.read_csv('data/bigQueryDataReview/bigQuery_tables.csv')
columns = pd.read_csv('data/bigQueryDataReview/bigQuery_fields.csv')

In [ ]:
tables

,table_catalog,table_schema,table_name,table_type,is_insertable_into,is_typed,creation_time,base_table_catalog,base_table_schema,base_table_name,...,ddl,default_collation_name,upsert_stream_apply_watermark,replica_source_catalog,replica_source_schema,replica_source_name,replication_status,replication_error,is_change_history_enabled,sync_status
0,prod-data-enablement,datalake_marketo,form,BASE TABLE,YES,NO,2025-05-09 15:22:15.061000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.datalake_ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
1,prod-data-enablement,datalake_marketo,merged_lead,BASE TABLE,YES,NO,2025-05-09 15:45:23.737000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.datalake_ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
2,prod-data-enablement,datalake_marketo,program,BASE TABLE,YES,NO,2025-05-09 15:22:15.382000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.datalake_ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
3,prod-data-enablement,datalake_marketo,program_membership,BASE TABLE,YES,NO,2025-05-09 15:45:15.815000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.datalake_ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
4,prod-data-enablement,datalake_marketo,lead_describe,BASE TABLE,YES,NO,2025-05-09 14:21:44.807000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.datalake_ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5460,prod-data-enablement,bigquery_audit_logs,cloudaudit_googleapis_com_system_event_20241128,BASE TABLE,YES,NO,2024-11-27 20:00:12.085000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.bigquery_au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
5461,prod-data-enablement,bigquery_audit_logs,cloudaudit_googleapis_com_system_event_20241231,BASE TABLE,YES,NO,2024-12-30 20:01:17.398000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.bigquery_au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
5462,prod-data-enablement,bigquery_audit_logs,cloudaudit_googleapis_com_activity_20241019,BASE TABLE,YES,NO,2024-10-18 20:00:05.397000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.bigquery_au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
5463,prod-data-enablement,bigquery_audit_logs,cloudaudit_googleapis_com_system_event_20241225,BASE TABLE,YES,NO,2024-12-24 20:00:12.081000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.bigquery_au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"
5464,prod-data-enablement,bigquery_audit_logs,cloudaudit_googleapis_com_data_access_20250224,BASE TABLE,YES,NO,2025-02-23 20:00:09.927000 UTC,NaN,NaN,NaN,...,CREATE TABLE `prod-data-enablement.bigquery_au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,"{\n ""sync_status"": null\n}"

In [ ]:
columns

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position,collation_name,column_default,rounding_mode,policy_tags
0,prod-data-enablement,finance_prod,base_contract_analytics,account_id,1,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
1,prod-data-enablement,finance_prod,base_contract_analytics,salesforce_id,2,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
2,prod-data-enablement,finance_prod,base_contract_analytics,advertiser_name,3,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
3,prod-data-enablement,finance_prod,base_contract_analytics,salesforce_opp_id,4,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
4,prod-data-enablement,finance_prod,base_contract_analytics,account_status,5,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49637,prod-data-enablement,datalake_platformdb,raw_iracct_credit_memo,archived,26,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
49638,prod-data-enablement,datalake_platformdb,raw_iracct_credit_memo,core_estaleanetwork_id,27,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
49639,prod-data-enablement,datalake_platformdb,raw_iracct_credit_memo,datalake_dlu,28,YES,TIMESTAMP,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
49640,prod-data-enablement,datalake_platformdb,raw_iram_adv_funding_status,iram_advertiser_id,1,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,1.0,NaN,NaN,NaN,[]
49641,prod-data-enablement,datalake_platformdb,raw_iram_adv_funding_status,days_away_from_default,2,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]

In [4]:
df = columns[(columns['column_name'].str.contains('mql')) & (columns['table_schema'].str.contains('sandbox')==False)]

In [11]:
df = columns[(columns['column_name'].str.contains('directmail')) & (columns['table_schema'].str.contains('sandbox')==False)]
df

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position,collation_name,column_default,rounding_mode,policy_tags
46789,prod-data-enablement,datalake_irdwm_backup,publisher_dim,prom_mthd_offline_directmail,58,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
47337,prod-data-enablement,datalake_irdwm_backup,media_dim,prom_mthd_offline_directmail,81,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]

In [ ]:
path = 'data/bigQueryDataReview/'

# cost_columns

In [ ]:
df = columns[(columns['column_name'].str.contains('cost')) & (columns['table_schema'].str.contains('sandbox')==False)]
outputfile =path+'queries_cost_fields.csv'

In [ ]:
df[['table_name', 'table_schema','table_catalog', 'column_name', 'data_type']].groupby(['table_name', 'table_schema','table_catalog', 'column_name']).count().to_csv(outputfile)

In [ ]:
df

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position,collation_name,column_default,rounding_mode,policy_tags
2579,prod-data-enablement,datalake_pendo,account_history,agent_subscriptionunitcost,20,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
3776,prod-data-enablement,datalake_irdwm_iceberg,agg_daily_brand,client_cost,53,YES,"NUMERIC(18, 4)",NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
3777,prod-data-enablement,datalake_irdwm_iceberg,agg_daily_brand,client_cost_fraud,54,YES,"NUMERIC(18, 4)",NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
3778,prod-data-enablement,datalake_irdwm_iceberg,agg_daily_brand,client_cost_good,55,YES,"NUMERIC(18, 4)",NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
3779,prod-data-enablement,datalake_irdwm_iceberg,agg_daily_brand,client_cost_imported,56,YES,"NUMERIC(18, 4)",NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47584,prod-data-enablement,datalake_platformdb,raw_iracct_billing_config_generation,cost_new_mediaspend_block_currency,36,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
48847,prod-data-enablement,datalake_platformdb,raw_ircm_cost_per_click_terms_tracker,cost_per_click_amount,10,YES,NUMERIC,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
48848,prod-data-enablement,datalake_platformdb,raw_ircm_cost_per_click_terms_tracker,cost_per_click_currency,11,YES,STRING,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
49412,prod-data-enablement,datalake_platformdb,raw_iracct_invoice_settings,enable_client_cost_accounting,13,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]
49437,prod-data-enablement,datalake_platformdb,raw_iracct_invoice_settings,is_aggregate_costs,38,YES,INT64,NEVER,NaN,NaN,NO,NaN,NO,NO,NaN,NaN,NaN,NaN,[]

In [ ]:
cost_columns= df.copy()

# Alyce Columns

In [ ]:
df = columns[(columns['column_name'].str.contains('alyce')) & (columns['table_schema'].str.contains('sandbox')==False)]
outputfile = path + 'queries_alyce_fields.csv'

In [ ]:
df[['table_name', 'table_schema','table_catalog', 'column_name', 'data_type']].groupby(['table_name', 'table_schema','table_catalog', 'column_name']).count()

                                                                                                                                     data_type
table_name            table_schema                          table_catalog        column_name
account               datalake_salesforce_fivetran          prod-data-enablement alycecom_initial_gift_invitation_create_date_c              1
                                                                                 alycecom_initial_gift_invitation_sent_date_c                1
                                                                                 alycecom_most_recent_gift_invitation_create_date_c          1
                                                                                 alycecom_most_recent_gift_invitation_sent_date_c            1
                                                                                 alycecom_total_gifts_invitations_sent_to_account_c          1
...                                                                                                                                        ...
stg_marketo__lead_tmp datalake_marketo_brand_marketo_source prod-data-enablement alycecom_most_recent_gift_invitation_sent_date_c            1
                                                                                 alycecom_most_recent_gift_invitation_sent_date_...          1
                                                                                 alycecom_most_recent_gift_invitation_status_c               1
                                                                                 alycecom_most_recent_gift_landing_page_c                    1
                                                                                 alycecom_total_gifts_invitations_sent_to_account_c          1

[155 rows x 1 columns]

In [ ]:
df[['table_name', 'table_schema','table_catalog', 'column_name', 'data_type']].groupby(['table_name', 'table_schema','table_catalog', 'column_name']).count().to_csv(outputfile)

In [ ]:
alyce_columns = df.copy()