In [3]:
import pandas as pd

In [ ]:
def get_iso_week_start(date_series):
    date_series = pd.to_datetime(date_series)
    weekday = date_series.dt.isoweekday
    return date_series - pd.to_timedelta(weekday - 1, unit='D')

In [4]:
googleSpend = pd.read_csv('earlyExampleData/GoogleAdsExampleData.csv')
# Convert 'date' column to datetime
googleSpend['date'] = pd.to_datetime(googleSpend['Week'], format='%Y-%m-%d')

# Extract year
googleSpend['year'] = googleSpend['date'].dt.year

# Extract week number (ISO week)
googleSpend['week'] = googleSpend['date'].dt.isocalendar().week

In [28]:
qQuery = pd.read_csv('earlyExampleData/googleQueryExampleData.csv')
# # Convert 'date' column to datetime
# qQuery['date'] = pd.to_datetime(googleSpend['Week'], format='%Y-%m-%d')

# # Extract year
# googleSqQuerypend['year'] = qQuery['date'].dt.year

# # Extract week number (ISO week)
# qQuery['week'] = qQuery['date'].dt.isocalendar().week

In [ ]:
['Searches: May 2021', 'Searches: Jun 2021', 'Searches: Jul 2021',
'Searches: Aug 2021', 'Searches: Sep 2021', 'Searches: Oct 2021',
'Searches: Nov 2021', 'Searches: Dec 2021']

In [ ]:
qQuery

Index(['Keyword', 'Currency', 'Avg. monthly searches', 'Three month change',
       'YoY change', 'Competition', 'Competition (indexed value)',
       'Top of page bid (low range)', 'Top of page bid (high range)',
       'Ad impression share', 'Organic impression share',
       'Organic average position', 'In account?', 'In plan?',
       'Searches: May 2021', 'Searches: Jun 2021', 'Searches: Jul 2021',
       'Searches: Aug 2021', 'Searches: Sep 2021', 'Searches: Oct 2021',
       'Searches: Nov 2021', 'Searches: Dec 2021', 'Searches: Jan 2022',
       'Searches: Feb 2022', 'Searches: Mar 2022', 'Searches: Apr 2022',
       'Searches: May 2022', 'Searches: Jun 2022', 'Searches: Jul 2022',
       'Searches: Aug 2022', 'Searches: Sep 2022', 'Searches: Oct 2022',
       'Searches: Nov 2022', 'Searches: Dec 2022', 'Searches: Jan 2023',
       'Searches: Feb 2023', 'Searches: Mar 2023', 'Searches: Apr 2023',
       'Searches: May 2023', 'Searches: Jun 2023', 'Searches: Jul 2023',
       'Searches: Aug 2023', 'Searches: Sep 2023', 'Searches: Oct 2023',
       'Searches: Nov 2023', 'Searches: Dec 2023', 'Searches: Jan 2024',
       'Searches: Feb 2024', 'Searches: Mar 2024', 'Searches: Apr 2024',
       'Searches: May 2024', 'Searches: Jun 2024', 'Searches: Jul 2024',
       'Searches: Aug 2024', 'Searches: Sep 2024', 'Searches: Oct 2024',
       'Searches: Nov 2024', 'Searches: Dec 2024', 'Searches: Jan 2025',
       'Searches: Feb 2025', 'Searches: Mar 2025', 'Searches: Apr 2025'],
      dtype='object')

In [24]:
googleSpend['isoweekstart'] = googleSpend['date'].dt.to_period('W').apply(lambda r: r.start_time)

In [25]:
googleSpend

,Week,Account name,Customer ID,Currency code,Cost,Clicks,Impr.,date,year,week,isoweekstart
0,2019-12-30,Impact Radius,278-804-3504,USD,5351.25,897,"14,287",2019-12-30,2019,1,2019-12-30
1,2019-12-30,SaaSquatch,440-735-6734,CAD,2394.37,501,"124,782",2019-12-30,2019,1,2019-12-30
2,2020-01-06,Impact Radius,278-804-3504,USD,9554.25,"1,603","26,982",2020-01-06,2020,2,2020-01-06
3,2020-01-06,SaaSquatch,440-735-6734,CAD,4317.91,555,"74,052",2020-01-06,2020,2,2020-01-06
4,2020-01-13,Impact Radius,278-804-3504,USD,8724.86,"1,318","20,015",2020-01-13,2020,3,2020-01-13
...,...,...,...,...,...,...,...,...,...,...,...
683,2025-05-19,impact.com APAC,247-083-5844,USD,2853.54,460,"6,194",2025-05-19,2025,21,2025-05-19
684,2025-05-26,Impact Radius,278-804-3504,USD,37298.39,"8,166","65,591",2025-05-26,2025,22,2025-05-26
685,2025-05-26,impact.com APAC,247-083-5844,USD,2633.80,543,"6,477",2025-05-26,2025,22,2025-05-26
686,2025-06-02,Impact Radius,278-804-3504,USD,6941.34,756,"14,387",2025-06-02,2025,23,2025-06-02
687,2025-06-02,impact.com APAC,247-083-5844,USD,668.81,162,"1,900",2025-06-02,2025,23,2025-06-02

In [26]:
googleSpend.loc[googleSpend['Currency code']=='USD', ['year','week', 'isoweekstart', 'Cost']].groupby(['year', 'week', 'isoweekstart']).sum().reset_index()

     year  week isoweekstart      Cost
0    2019     1   2019-12-30   5351.25
1    2020     2   2020-01-06   9554.25
2    2020     3   2020-01-13   8724.86
3    2020     4   2020-01-20   7645.89
4    2020     5   2020-01-27   2270.55
..    ...   ...          ...       ...
278  2025    19   2025-05-05  25412.76
279  2025    20   2025-05-12  32828.65
280  2025    21   2025-05-19  37674.22
281  2025    22   2025-05-26  39932.19
282  2025    23   2025-06-02   7610.15

[283 rows x 4 columns]

In [27]:
googleSpend.loc[((googleSpend['Currency code']=='USD') & (googleSpend['year']==2021) ),  ['year','week', 'isoweekstart', 'Cost']].groupby(['year', 'week', 'isoweekstart']).sum().reset_index()

    year  week isoweekstart      Cost
0   2021     1   2021-01-04   4903.47
1   2021     2   2021-01-11   7404.98
2   2021     3   2021-01-18  18330.11
3   2021     4   2021-01-25  14436.49
4   2021     5   2021-02-01  12978.68
5   2021     6   2021-02-08  13114.57
6   2021     7   2021-02-15   6581.83
7   2021     8   2021-02-22   3221.02
8   2021     9   2021-03-01   6814.84
9   2021    10   2021-03-08   7846.25
10  2021    11   2021-03-15   9895.63
11  2021    12   2021-03-22    595.66
12  2021    13   2021-03-29   5395.22
13  2021    14   2021-04-05  10330.90
14  2021    15   2021-04-12   7479.70
15  2021    16   2021-04-19   4754.46
16  2021    17   2021-04-26   7478.93
17  2021    18   2021-05-03   9443.83
18  2021    19   2021-05-10   9199.80
19  2021    20   2021-05-17   7486.89
20  2021    21   2021-05-24   5936.30
21  2021    22   2021-05-31   4479.45
22  2021    23   2021-06-07   4090.98
23  2021    24   2021-06-14   5651.74
24  2021    25   2021-06-21   6213.59
25  2021    26   2021-06-28   5698.32
26  2021    27   2021-07-05   4158.50
27  2021    28   2021-07-12  11701.19
28  2021    29   2021-07-19   9809.53
29  2021    30   2021-07-26   7843.35
30  2021    31   2021-08-02   6217.73
31  2021    32   2021-08-09   7208.87
32  2021    33   2021-08-16   4157.24
33  2021    34   2021-08-23   4974.36
34  2021    35   2021-08-30   6405.81
35  2021    36   2021-09-06  14328.74
36  2021    37   2021-09-13  24273.94
37  2021    38   2021-09-20  16299.77
38  2021    39   2021-09-27  12389.10
39  2021    40   2021-10-04  12588.39
40  2021    41   2021-10-11  19001.47
41  2021    42   2021-10-18  15492.35
42  2021    43   2021-10-25  10502.05
43  2021    44   2021-11-01  10609.43
44  2021    45   2021-11-08  16688.25
45  2021    46   2021-11-15  13581.50
46  2021    47   2021-11-22  11985.71
47  2021    48   2021-11-29  13043.63
48  2021    49   2021-12-06  15133.62
49  2021    50   2021-12-13  19096.62
50  2021    51   2021-12-20  14435.32
51  2021    52   2021-12-27   5915.48

In [12]:
googleSpend

,Week,Account name,Customer ID,Currency code,Cost,Clicks,Impr.
0,2019-12-30,Impact Radius,278-804-3504,USD,5351.25,897,"14,287"
1,2019-12-30,SaaSquatch,440-735-6734,CAD,2394.37,501,"124,782"
2,2020-01-06,Impact Radius,278-804-3504,USD,9554.25,"1,603","26,982"
3,2020-01-06,SaaSquatch,440-735-6734,CAD,4317.91,555,"74,052"
4,2020-01-13,Impact Radius,278-804-3504,USD,8724.86,"1,318","20,015"
...,...,...,...,...,...,...,...
683,2025-05-19,impact.com APAC,247-083-5844,USD,2853.54,460,"6,194"
684,2025-05-26,Impact Radius,278-804-3504,USD,37298.39,"8,166","65,591"
685,2025-05-26,impact.com APAC,247-083-5844,USD,2633.80,543,"6,477"
686,2025-06-02,Impact Radius,278-804-3504,USD,6941.34,756,"14,387"
687,2025-06-02,impact.com APAC,247-083-5844,USD,668.81,162,"1,900"

In [17]:
googleSpend

,Week,Account name,Customer ID,Currency code,Cost,Clicks,Impr.,date,year,week
0,2019-12-30,Impact Radius,278-804-3504,USD,5351.25,897,"14,287",2019-12-30,2019,1
1,2019-12-30,SaaSquatch,440-735-6734,CAD,2394.37,501,"124,782",2019-12-30,2019,1
2,2020-01-06,Impact Radius,278-804-3504,USD,9554.25,"1,603","26,982",2020-01-06,2020,2
3,2020-01-06,SaaSquatch,440-735-6734,CAD,4317.91,555,"74,052",2020-01-06,2020,2
4,2020-01-13,Impact Radius,278-804-3504,USD,8724.86,"1,318","20,015",2020-01-13,2020,3
...,...,...,...,...,...,...,...,...,...,...
683,2025-05-19,impact.com APAC,247-083-5844,USD,2853.54,460,"6,194",2025-05-19,2025,21
684,2025-05-26,Impact Radius,278-804-3504,USD,37298.39,"8,166","65,591",2025-05-26,2025,22
685,2025-05-26,impact.com APAC,247-083-5844,USD,2633.80,543,"6,477",2025-05-26,2025,22
686,2025-06-02,Impact Radius,278-804-3504,USD,6941.34,756,"14,387",2025-06-02,2025,23
687,2025-06-02,impact.com APAC,247-083-5844,USD,668.81,162,"1,900",2025-06-02,2025,23

In [1]:
# googleSpend.loc(['Cost', 'year', 'week']].groupby(['year','week']).sum().reset_index().sort_values(by=['year', 'week'])

In [5]:
import pandas as pd

# Read the entire file as a single string
with open(, 'r') as file:
    content = file.read()

'Date\nAmount spent\nImpressions\nLink clicks\nCTR (link click-through rate)\nCPM\nCPC (link)\nOn-Facebook leads\nCost per on-Facebook lead\nWebsite conversions\nWebsite conversion rate\nFeb 11, 2023\n$1,833.68\n64,693\n242\n0.37%\n$28.34\n$7.58\n0.00\nnull\n0\n0.00%\nFeb 10, 2023\n$1,792.03\n65,025\n262\n0.4%\n$27.56\n$6.84\n0.00\nnull\n0\n0.00%\nFeb 9, 2023\n$1,780.67\n61,792\n284\n0.46%\n$28.82\n$6.27\n0.00\nnull\n0\n0.00%\nFeb 8, 2023\n$1,784.04\n61,681\n284\n0.46%\n$28.92\n$6.28\n0.00\nnull\n0\n0.00%\nFeb 7, 2023\n$1,823.08\n62,629\n305\n0.49%\n$29.11\n$5.98\n0.00\nnull\n0\n0.00%\nFeb 6, 2023\n$1,874.71\n68,234\n321\n0.47%\n$27.47\n$5.84\n0.00\nnull\n0\n0.00%\nFeb 5, 2023\n$1,962.3\n67,618\n316\n0.47%\n$29.02\n$6.21\n0.00\nnull\n0\n0.00%\nFeb 4, 2023\n$1,768.11\n63,963\n311\n0.49%\n$27.64\n$5.69\n0.00\nnull\n0\n0.00%\nFeb 3, 2023\n$1,754.24\n63,035\n302\n0.48%\n$27.83\n$5.81\n0.00\nnull\n0\n0.00%\nFeb 2, 2023\n$3,832.04\n95,549\n414\n0.43%\n$40.11\n$9.26\n0.00\nnull\n0\n0.00%\nFeb 1, 2023\n$6,848.69\n145,677\n516\n0.35%\n$47.01\n$13.27\n0.00\nnull\n0\n0.00%\nJan 31, 2023\n$6,861.45\n141,147\n505\n0.36%\n$48.61\n$13.59\n0.00\nnull\n0\n0.00%\nJan 30, 2023\n$7,031.11\n139,718\n500\n0.36%\n$50.32\n$14.06\n0.00\nnull\n0\n0.00%\nJan 29, 2023\n$7,408.34\n132,567\n491\n0.37%\n$55.88\n$15.09\n0.00\nnull\n0\n0.00%\nJan 28, 2023\n$7,483.23\n137,899\n553\n0.4%\n$54.27\n$13.53\n0.00\nnull\n0\n0.00%\nJan 27, 2023\n$9,243.99\n174,710\n605\n0.35%\n$52.91\n$15.28\n0.00\nnull\n0\n0.00%\nJan 26, 2023\n$9,676.61\n202,792\n676\n0.33%\n$47.72\n$14.31\n0.00\nnull\n0\n0.00%\nJan 25, 2023\n$6,497.29\n160,863\n562\n0.35%\n$40.39\n$11.56\n0.00\nnull\n0\n0.00%\nJan 24, 2023\n$6,665.24\n154,258\n526\n0.34%\n$43.21\n$12.67\n0.00\nnull\n0\n0.00%\nJan 23, 2023\n$1,975.38\n81,753\n344\n0.42%\n$24.16\n$5.74\n0.00\nnull\n0\n0.00%\nJan 22, 2023\n$1,983.75\n78,780\n334\n0.42%\n$25.18\n$5.94\n0.00\nnull\n0\n0.00%\nJan 21, 2023\n$1,936.34\n75,420\n333\n0.44%\n$25.67\n$5.81\n0.00\nnull\n0\n0.00%\nJan 20, 2023\n$1,918.43\n68,647\n321\n0.47%\n$27.95\n$5.98\n0.00\nnull\n0\n0.00%\nJan 19, 2023\n$1,867.31\n67,947\n328\n0.48%\n$27.48\n$5.69\n0.00\nnull\n0\n0.00%\nJan 18, 2023\n$1,910.64\n73,183\n334\n0.46%\n$26.11\n$5.72\n0.00\nnull\n0\n0.00%\nJan 17, 2023\n$1,892.53\n63,094\n359\n0.57%\n$30\n$5.27\n0.00\nnull\n0\n0.00%\nJan 16, 2023\n$958.72\n44,502\n233\n0.52%\n$21.54\n$4.11\n0.00\nnull\n0\n0.00%\nJan 15, 2023\n$386.61\n35,275\n197\n0.56%\n$10.96\n$1.96\n0.00\nnull\n0\n0.00%\nJan 14, 2023\n$355.92\n33,654\n210\n0.62%\n$10.58\n$1.69\n0.00\nnull\n0\n0.00%\nJan 13, 2023\n$346.85\n34,356\n205\n0.6%\n$10.1\n$1.69\n0.00\nnull\n0\n0.00%\nJan 12, 2023\n$566.62\n42,437\n216\n0.51%\n$13.35\n$2.62\n0.00\nnull\n0\n0.00%\nJan 11, 2023\n$660.58\n45,630\n237\n0.52%\n$14.48\n$2.79\n0.00\nnull\n0\n0.00%\nJan 10, 2023\n$680.29\n45,627\n242\n0.53%\n$14.91\n$2.81\n0.00\nnull\n0\n0.00%\nJan 9, 2023\n$874.65\n53,604\n231\n0.43%\n$16.32\n$3.79\n0.00\nnull\n0\n0.00%\nJan 8, 2023\n$988.27\n54,002\n273\n0.51%\n$18.3\n$3.62\n0.00\nnull\n0\n0.00%\nJan 7, 2023\n$1,041.89\n54,117\n294\n0.54%\n$19.25\n$3.54\n0.00\nnull\n0\n0.00%\nJan 6, 2023\n$1,052.34\n58,945\n313\n0.53%\n$17.85\n$3.36\n0.00\nnull\n0\n0.00%\nJan 5, 2023\n$1,047.54\n55,214\n299\n0.54%\n$18.97\n$3.5\n0.00\nnull\n0\n0.00%\nJan 4, 2023\n$1,048.24\n49,117\n286\n0.58%\n$21.34\n$3.67\n0.00\nnull\n0\n0.00%\nJan 3, 2023\n$1,058.99\n37,569\n173\n0.46%\n$28.19\n$6.12\n0.00\nnull\n0\n0.00'

In [21]:
import pandas as pd

# Read all lines from the file
with open('FBDaily_data_Pt2', 'r') as file:
    lines = [line.strip() for line in file.readlines()]

# First 11 lines become column names
column_names = lines[:11]

# Remaining lines are the data
data_lines = lines[11:]

# Group remaining lines into chunks of 11
rows = []
for i in range(0, len(data_lines), 11):
    chunk = data_lines[i:i+11]
    if len(chunk) == 11:  # Only add complete rows
        rows.append(chunk)

# Create DataFrame
df = pd.DataFrame(rows, columns=column_names)
print(df['Date'].max())
print(df['Date'].min())
fb_df = df.copy()

Jan 9, 2023
Feb 1, 2023

'Feb 1, 2023'

In [22]:
# Read all lines from the file
with open('FBDailyData-Part1.txt', 'r') as file:
    lines = [line.strip() for line in file.readlines()]

# First 11 lines become column names
column_names = lines[:11]

# Remaining lines are the data
data_lines = lines[11:]

# Group remaining lines into chunks of 11
rows = []
for i in range(0, len(data_lines), 11):
    chunk = data_lines[i:i+11]
    if len(chunk) == 11:  # Only add complete rows
        rows.append(chunk)

# Create DataFrame
df = pd.DataFrame(rows, columns=column_names)
print(df['Date'].max())
print(df['Date'].min())

Mar 1, 2024
Feb 1, 2024

In [ ]:
fb_df = pd.concat([fb_df, df])

In [16]:
fb_df['Date'].max()

'Mar 1, 2024'